<div class="row m-0">
    <div class="col-sm-12 p-0 main-header-section">
        <div class="left-wrapper pointer" (click)="goToDashboard()">
            <div class="header-logo"> </div>
            <div class="logo-text">City Calibration Centre</div>
            <div class="menu-logo" (click)="sideNavFlag()"></div>
        </div>
        <div class="right-wrapper">
            <div class="user-icon-logo"></div>
            <div class="user-details-wrapper">
                <div class="name-text">James Doe</div>
                 <div class="admin-text">Super Admin</div>
            </div>
        </div>
    </div>
</div>
