<div class="main-content">
  <h3>{{(editId) ? 'Edit' : 'Add'}} User</h3>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form #userForm="ngForm" >
            <div class="form-group row">
              <label for="firstName" class="col-sm-12 col-form-label">First Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="firstName" placeholder="Enter FirstName"
                  [(ngModel)]="editUserData.firstName" required minlength="1" maxlength="50"
                  [class.error]="firstName.invalid && isFormSubmitted" name="firstName" #firstName="ngModel" required required>
                  <div class="invalid-feedback" *ngIf="firstName.invalid && isFormSubmitted">
                    First Name is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="lastName" class="col-sm-12 col-form-label">Last Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="lastName" placeholder="Enter LastName"
                  [(ngModel)]="editUserData.lastName" required minlength="1" maxlength="50"
                  [class.error]="lastName.invalid && isFormSubmitted" name="lastName" #lastName="ngModel" required>
                  <div class="invalid-feedback" *ngIf="lastName.invalid && isFormSubmitted">
                    Last Name is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="middleInitial" class="col-sm-12 col-form-label">MiddleInitial</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="middleInitial" placeholder="Enter MiddleInitial"
                  [(ngModel)]="editUserData.middleInitial" required minlength="1" maxlength="50"
                  [class.error]="middleInitial.invalid && isFormSubmitted" name="middleInitial" #middleInitial="ngModel" required>
                  <div class="invalid-feedback" *ngIf="middleInitial.invalid && isFormSubmitted">
                    MiddleInitial is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="businessName" class="col-sm-12 col-form-label">Business Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="businessName" placeholder="Enter BusinessName"
                  [(ngModel)]="editUserData.businessName" required minlength="1" maxlength="50"
                  [class.error]="businessName.invalid && isFormSubmitted" name="businessName" #businessName="ngModel" required>
                  <div class="invalid-feedback" *ngIf="businessName.invalid && isFormSubmitted">
                    Business Name is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="businessTelephone" class="col-sm-12 col-form-label">Business Telephone</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="businessTelephone" placeholder="Enter BusinessTelephone"
                  [(ngModel)]="editUserData.businessTelephone" required minlength="1" maxlength="50"
                  [class.error]="businessTelephone.invalid && isFormSubmitted" name="businessTelephone" #businessTelephone="ngModel" required>
                  <div class="invalid-feedback" *ngIf="businessTelephone.invalid && isFormSubmitted">
                    Business Telephone is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="businessFax" class="col-sm-12 col-form-label">Business Fax</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="businessFax" placeholder="Enter BusinessFax"
                  [(ngModel)]="editUserData.businessFax" required minlength="1" maxlength="50"
                  [class.error]="businessFax.invalid && isFormSubmitted" name="businessFax" #businessFax="ngModel" required>
                  <div class="invalid-feedback" *ngIf="businessFax.invalid && isFormSubmitted">
                    Business Fax is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="address" class="col-sm-12 col-form-label">Address</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="address" placeholder="Enter Address"
                  [(ngModel)]="editUserData.address" required minlength="1" maxlength="50"
                  [class.error]="address.invalid && isFormSubmitted" name="address" #address="ngModel" required>
                  <div class="invalid-feedback" *ngIf="address.invalid && isFormSubmitted">
                    Address is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="city" class="col-sm-12 col-form-label">City</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="city" placeholder="Enter City" [(ngModel)]="editUserData.city"
                  required minlength="1" maxlength="50" [class.error]="city.invalid && isFormSubmitted" name="city" #city="ngModel" required>
                  <div class="invalid-feedback" *ngIf="city.invalid && isFormSubmitted">
                    City is required.
                  </div>

              </div>
            </div>
            <div class="form-group row">
              <label for="state" class="col-sm-12 col-form-label">State</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="state" placeholder="Enter State"
                  [(ngModel)]="editUserData.state" required minlength="1" maxlength="50" [class.error]="state.invalid && isFormSubmitted"
                  name="state" #state="ngModel" required>
                  <div class="invalid-feedback" *ngIf="state.invalid && isFormSubmitted">
                    State is required.
                  </div>

              </div>
            </div>
            <div class="form-group row">
              <label for="zipCode" class="col-sm-12 col-form-label">Zip Code</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="zipCode" placeholder="Enter ZipCode"
                  [(ngModel)]="editUserData.zipCode" required minlength="1" maxlength="50" [class.error]="zipCode.invalid && isFormSubmitted"
                  name="zipCode" #zipCode="ngModel" required>
                  <div class="invalid-feedback" *ngIf="zipCode.invalid && isFormSubmitted">
                    Zip Code is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="mobileTelephone" class="col-sm-12 col-form-label">Mobile/Telephone</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="mobileTelephone" placeholder="Enter MobileTelephone"
                  [(ngModel)]="editUserData.mobileTelephone" required minlength="1" maxlength="50"
                  [class.error]="mobileTelephone.invalid && isFormSubmitted" name="mobileTelephone" #mobileTelephone="ngModel" required>
                  <div class="invalid-feedback" *ngIf="mobileTelephone.invalid && isFormSubmitted">
                    Mobile/Telephone is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-12 col-form-label">Email
              </label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="email" placeholder="Enter Email"
                  [(ngModel)]="editUserData.email " required minlength="1" maxlength="50" [class.error]="email.invalid && isFormSubmitted"
                  name="email"  #email="ngModel" required>
                  <div class="invalid-feedback" *ngIf="email.invalid && isFormSubmitted">
                    Email is required.
                  </div>

              </div>
            </div>
            <div class="form-group row">
              <label for="bmployerName" class="col-sm-12 col-form-label">Employer Name</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="bmployerName" placeholder="Enter EmployerName"
                  [(ngModel)]="editUserData.employerName" required minlength="1" maxlength="50"
                  [class.error]="bmployerName.invalid && isFormSubmitted" name="bmployerName" #bmployerName="ngModel" required>
                  <div class="invalid-feedback" *ngIf="bmployerName.invalid && isFormSubmitted">
                    Employer Name is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="licenseNumber" class="col-sm-12 col-form-label">License Number</label>
              <div class="col-sm-12">
                <input type="text" class="form-control" id="licenseNumber" placeholder="Enter LicenseNumber"
                  [(ngModel)]="editUserData.licenseNumber" required minlength="1" maxlength="50"
                  [class.error]="licenseNumber.invalid && isFormSubmitted" name="licenseNumber" #licenseNumber="ngModel" required>
                  <div class="invalid-feedback" *ngIf="licenseNumber.invalid && isFormSubmitted">
                    License Number is required.
                  </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="!editId">
              <label for="password" class="col-sm-12 col-form-label">Password</label>
              <div class="col-sm-12">
                <input type="password" class="form-control" id="password" placeholder="Enter Password"
                  [(ngModel)]="editUserData.password" required minlength="1" maxlength="50"
                  [class.error]="password.invalid && isFormSubmitted" name="password" #password="ngModel" required>
                  <div class="invalid-feedback" *ngIf="password.invalid && isFormSubmitted">
                    Password is required.
                  </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputState" class="col-sm-12 col-form-label">Role</label>
              <div class=" col-sm-12">
                <select id="inputState" name="role" class="form-control" placeholder="Choose..." required [(ngModel)]="editUserData.roleId"
                [class.error]="!editUserData.roleId && isFormSubmitted">
                  <option  value="" disabled selected>Select one Role... </option>
                  <option *ngFor="let item of roles" [value]="item.id" >{{item.roleName}}</option>
                </select>
                <div class="invalid-feedback" *ngIf="!editUserData.roleId && isFormSubmitted">
                  Role is required.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="d-flex gap-3 col-sm-12 ">
                <div>
                  <button type="submit" class="btn btn-primary" (click)="Back()">Back</button>
                </div>
                <div>
                  <button type="submit" class="btn btn-primary" (click)="submit(userForm)">Save</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>